<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/iryeokFitStyle.css">
    <script src="/js/iryeokFitMain.js" defer></script>
    <script src="/js/authUtils.js"></script>
    <title>이력핏 : AI 이력서 첨삭</title>
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const response = await fetchWithAuth("/reports/user/" + localStorage.getItem("userId"));
        if (response.ok) {
            const reports = await response.json();
            console.log(reports);
        }
    });
</script>
<div class="container">
    <div class="header">
        <img src="/img/iryeokfitMainLogo.png" alt="IryeokFit Main Logo" class="logo">
        <h2>이력핏-IryeokFit ✅ </h2>
    </div>
    <strong>이력핏이 처음이시군요?</strong>
    <h3>AI에게 공고별 이력서 피드백 받기</h3>
    <input type="text" placeholder="🔗 채용 공고 URL 입력" id="jobUrl">
    <label for="resumeUpload" class="file-label">📄 기존 이력서 업로드 (PDF)</label>
    <input type="file" accept="application/pdf" id="resumeUpload" style="display: none;">
    <button id="analyzeButton">🚀 첨삭 시작</button>
</div>

<div class="modal" id="loadingModal">
    <div class="modal-content">
        <h3>채용 공고 확인중...</h3>
        <div class="loading-spinner"></div>
    </div>
</div>

<div class="modal" id="errorModal">
    <div class="modal-content">
        <h3>해당 공고를 찾을 수 없습니다!</h3>
        <div class="error-icon">❗</div>
        <button onclick="closeErrorModal()">닫기</button>
    </div>
</div>

<div class="modal" id="fileErrorModal">
    <div class="modal-content">
        <h3>이력서를 업로드해주세요!</h3>
        <div class="error-icon">❗</div>
        <button onclick="closeFileErrorModal()">닫기</button>
    </div>
</div>

<div class="modal" id="urlErrorModal">
    <div class="modal-content">
        <h3>공고 URL을 입력해주세요!</h3>
        <div class="error-icon">❗</div>
        <button onclick="closeUrlErrorModal()">닫기</button>
    </div>
</div>

<div class="modal" id="jobModal">
    <div class="modal-content">
        <h3>지원하려는 공고 정보가 맞나요?</h3>
        <p id="jobTitle"><strong></strong></p>
        <p id="jobResponsibilities"></p>
        <p id="jobSkills"></p>
        <p id="jobRequirements"></p>
        <button id="proceedButton" onclick="proceedToFeedback()">✅ 네, 진행할게요</button>
        <button onclick="closeModal()">❌ 취소</button>
    </div>
</div>

</body>
</html>
