<!-- 모달 분리 대비용.. (25.04.21) - IRYEOKFIT-017 참고  -->
<div id="newFeedbackModal" class="modal hidden">
    <div class="modal-content">
        <img src="/img/iryeokfitMainLogo2.png" alt="IryeokFit Main Logo" class="logo" style="max-width: 120px; margin-bottom: 10px;">
        <h2>새 이력서 첨삭</h2>
        <input type="text" placeholder="🔗 채용 공고 URL 입력" id="modalJobUrl">
        <label for="modalResumeUpload" class="file-label">📄 기존 이력서 업로드 (PDF)</label>
        <input type="file" accept="application/pdf" id="modalResumeUpload" style="display: none;">
        <button id="modalAnalyzeButton">🚀 첨삭 시작</button>
        <button id="modalCloseButton" class="tertiary" style="margin-top:10px">❌ 닫기</button>
    </div>
</div>
