<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/iryeokFitStyle.css">
    <script src = "/js/login.js" defer></script>
    <title>로그인</title>
</head>
<body>
<div class="container auth-container">
    <div class="header">
        <img src="/img/iryeokfitMainLogo2.png" alt="IryeokFit Main Logo" class="logo">
        <h2>이력핏-IryeokFit ✅ </h2>
    </div>
    <div class="input-group email">
        <input type="email" placeholder="이메일 입력" id="email">
    </div>
    <div class="input-group password">
        <input type="password" placeholder="비밀번호 입력" id="password">
    </div>
    <button onclick="login()">🚀 로그인</button>
    <button class="secondary" onclick="location.href='signup'">📝 회원가입</button>
    <!--    <button class="tertiary" onclick="guestLogin()">비회원 로그인</button>-->
</div>

</body>
</html>